{% set classes = [
    preview ? 'preview',
    'invoice-print'
] %}

<style type="text/css">

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 1.3em;
        text-decoration: none;
    }
    .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    }
    .navbar {
        position: fixed;
        border-bottom: 2px solid black;
        width: 100%;
        top: 0px;
        height: 75px;
        background: rgba(0, 0, 0, .9);
        text-align: center;
        padding-top: 15px !important;
        transition: linear all .5s;
        vertical-align: middle;
        /* !* if you don't use delay , background will disapear and transition will start from a white background - you have to set the transition-delay the same as transition time OR more , so there won't be any problems *!
         -webkit-transition-delay: .5s;!* Safari *!
         transition-delay: .5s;*/
    }

    .preview .navbar-fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        display: none;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar.nav-success {
        background: rgb(0, 30, 0);
        width: 100%;
        height: 100%;
        opacity: .96;
        padding: 0px;
    }
    .navbar.nav-process {
        background: rgb(0, 0, 30);
        width: 100%;
        height: 50%;
        opacity: .96;
        padding: 0px;
    }
    .nav-success .help-txt {
        font-size: 30px;
        margin: 10% auto;
    }
    body.preview.proposal-print .nav-success .sign-btn {
        display: block;
        width: 50%;
        margin: 10px auto;
    }
    body.preview.proposal-print .nav {
        width: 100%;
        display: block;
    }
    body.proposal-print .nav,
    body.proposal-print .btn,
    body.proposal-print .help-txt {
        display: none;
    }

    body.print.proposal-print .navbar,
    body.print.proposal-print .btn,
    body.print.proposal-print .help-txt {
        display: none;
    }

    body.preview .page.pdf {
        margin: 100px auto;
        border: 3px solid black;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    .page.pdf {
        max-width: 1200px;
        margin: 0px auto;
    }
    body.preview.proposal-print .sign-btn,
    body.preview.proposal-print .help-txt {
        display: inline-block;
        color: white;
    }
    .help-txt {
        max-width: 60%;
        vertical-align: middle;
    }
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    .sign-btn {
        margin: 10px;
        transition: linear all .5s;
    }
    .signature-anchor {
        padding-top: 60px;
        font-weight: bold;
        padding-bottom: 60px;
        float: left;
    }
    .field--name-field-client-reference {
        max-width: 880px;
        margin: 0px auto;
    }
    article.invoice .field--name-field-client-reference {
        max-width: inherit;
        margin: 0px auto;
    }
    body:not(.print) .page.pdf .additional-not-selected .additional-options-wrapper,
    body:not(.print) .page.pdf .no-options-selected .item-options-wrapper {
        display: none;
    }
    body.print .page.pdf .additional-not-selected .additional-options-wrapper,
    body.print .page.pdf .no-options-selected .item-options-wrapper {
        display: block;
    }
    .page.pdf .no-options-selected .field--name-field-scope-of-work {
        margin-top: 50px;
    }
    body.print .page.pdf .not-selected.paragraph {
        display: block;
    }

    body.print .fa-check-square-o:before,
    body.print article.estimate-proposal.discount-selected .field--name-field-processing-fee .field--label:before {
        content: "\f096";
    }

    div.payment-alert,
    div.modal,
    div.action-btns{
        display: none;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
    {{ preview ? '<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>' }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="/sites/all/themes/bootstrap/css/styles.css" media="all">
    <link rel="stylesheet" href="/sites/all/themes/bootstrap/fa/css/font-awesome.css" media="all">
    <link rel="stylesheet" href="/sites/all/themes/bootstrap/css/3.3.7/overrides.min.css" media="all">
</head>
<body class="{{ preview ? 'preview ' }}{{ print ? 'print ' }}proposal-print cf-template">
<header class="nav navbar navbar-inverse">
    <span class="help-txt">
        If everything looks good, click on the “Complete and Sign” button to receive an email with a link to  electronically sign the proposal. Doing so will reserve time on our schedule for your project. To make changes hit the back button.
    </span>
    <a class="btn btn-primary sign-btn" data-href="/esign/{{ entity_id }}/sign" href="/esign/{{ entity_id }}/sign">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="btn-txt">Complete and Sign</span>
    </a>
</header>
<div class="page pdf">
    <div class="letterhead-logo">
        <img src="/sites/all/themes/bootstrap/img/letterhead-logo.png">
    </div>
    {{ content }}
</div>
</body>
</html>
